<html>

<head>
	<title> url2short </title>
	<link rel="stylesheet" type="text/css" media="screen" href="../assets/style.css" />
</head>

<body>

	<a href="/" class="title">
		url2short
	</a>


	<div class="container1">
		<h3>Something went wrong...</h3>
		<h4><%= error %></h4>
	</div>

</body>

</html>
