<html>

<head>
	<title> url2short </title>
	<link rel="stylesheet" type="text/css" media="screen" href="../assets/style.css" />
</head>

<body>

	<a href="/" class="title">
		url2short
	</a>

	<div class="container">
		<form method="POST" action="/url2short">
			<input type="text" placeholder="Enter Long URL or Paste Link" name="link" class="field">
			<input type="text" placeholder="Enter custom URL  (  Optional  )  " name="customURL" class="field">
			<div class="btncont">
			<input type="submit" value="Submit" class="btn">
			</div>
		</form>
	</div>

</body>

</html>
